body {
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
}

.container-post {
    width: 100%; 
    max-width: 614px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-post > div {
    border-radius: 3px;
}


.logo ion-icon {
    font-size: 21.25px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.borda-vertical {
    width: 1px;
    height: 22px;
    background-color: #e5e5e5;
    margin-left: 5px;
    margin-right: 5px;
}

.topo {
    width: 935px;
    height: 54px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.topo-direita {
    display: flex;
    justify-content: space-between;
    width: 110px;
}

.topo-direita ion-icon {
    font-size: 22px;
}

.topo-centro {
    width: 215px;
    height: 28px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topo-centro p {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #979797;
}

.topo-esquerda {
    width: 133px;
    height: 54px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.topo-fixo {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    height: 54px;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    z-index: 100; 
}

.topo-mobile {
    display: none;
    padding: 0 16px; 
    box-sizing: border-box; 
}

.stories-box {
    display: flex;
    align-items: center;
    margin-top: 88px;
    width: 100%;
    height: 118px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    overflow: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
 
}

.stories-box::-webkit-scrollbar {
    display: none;
}

.stories-box-seta {
    display: flex;
    font-size: 26px;
    color: #ffffff;
    margin-left: 580px;
    position: absolute;
}

.card-stories {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 15px;
}

.card-stories p {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
}

.storie img {
    margin: 5px;
    border-radius: 28px;
    box-sizing: border-box;
    object-fit: cover;
    width: 56px;
    height: 56px;
    margin: 5px;
}

.storie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("imagens/stories_background.jpg");
    background-position: center top;
    background-size: 100% auto;
    border-radius: 33px;
    width: 66px;
    height: 66px;
}

.post {
    width: 100%;
    height: auto;
    margin-top: 25px;
    padding-bottom: 15px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: #ffffff;
    margin-bottom: 50px;
}

.post video {
    width: 100%;
    height: auto;
}

.post img {
    width: 100%;
}

.post-topo {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    border-radius: 3px 3px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
}

.post-topo-esquerda {
    display: flex;
}

.post-topo-esquerda img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    object-fit: cover;
}

.post-topo-esquerda p {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.post-topo-direita {
    display: flex;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 5px; 
}

.post-reacoes {
    width: 150px;
}

.post-reacoes ion-icon {
    font-size: 18px;
    margin: 10px;
}

.post-salvar {
    display: flex;
}

.post-salvar ion-icon {
    font-size: 18px;
    margin: 15px;
}

.comentarios img {
    width: 22px;
    height: 22px;
    border-radius: 12px;
    object-fit: cover;
    margin-right: 5px;
}

.comentarios p {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
}

.comentarios b {
    font-weight: 500;
}
.comentarios {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

.container-principal {
    display: flex;
    justify-content: center;
}

.sidebar {
    width: 293px;
    height: 600px;
    margin-top: 111px;
    margin-left: 30px;
}

.sidebar-perfil {
    display: flex;
    align-items: center;
}

.sidebar-perfil img {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    object-fit: cover;
}

.sidebar-perfil p {
    margin-left: 17px;
    line-height: 16px;
}

.sidebar-perfil p:first-child {
    font-size: 14px;
    font-weight: 500;
}

.sidebar-perfil p:nth-child(2) {
    font-size: 14px;
    font-weight: 300;
}

.sidebar-sugestoes {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 18px;
}

.sidebar-sugestoes p:first-child {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #8e8e8e;
}

.sidebar-sugestoes p:nth-child(2) {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #262626;
}

.sidebar-perfis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar-perfis img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 11px;
}

.sidebar-text p:first-child {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #262626;
}

.sidebar-text p:nth-child(2) {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #8e8e8e;
}

.seguir {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #139ef2;
}

.sidebar-text {
    display: flex;
}

.sidebar-footer {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    color: #c7c7c7;
}

.menu-mobile {
    display: none;
    z-index: 100; 
}

@media(max-width: 935px) {
    .sidebar {
        display: none;
    }
}

@media(max-width: 614px) {
    .topo {
        display: none;
    }
    
    .stories-box {
        margin-top: 54px; /
    }

    .stories-box-seta {
        display: none;
    }

    .container-post {
        width: 100%;
    }

    .post-topo {
        width: 100%;
    }
    
    .post-footer,
    .comentarios {
        padding: 0 16px; 
    }

    .topo-mobile {
        width: 100%;
        height: 54px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        border-bottom: 1px solid #dbdbdb;
    }

    .topo-mobile img {
        width: 103px;
        height: 29px;
    }

    .esquerda-mobile {
        margin-left: 22px;
    }

    .direita-mobile {
        margin-right: 22px;
    }

    .menu-mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 54px;
        background-color: #ffffff;
        border: 1px solid #dbdbdb;
        box-sizing: border-box;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .menu-mobile ion-icon {
        font-size: 17px;
    }
}